development: &local

  ganalytics_id:    # E.g. UA-#######-##

  twitter_token:    # Register your aoo online at http://dev.twitter.com/apps/new
  twitter_secret:   # 


production:
  <<: *local


staging:
  <<: *local

  
test:
  <<: *local
