- unless @announcement.blank? && flash.blank?
  #flashes
    - [@announcement, flash].each do |item|
      - unless item.blank?
        - item.each do |t,v|
          %p.flash.rel{:class => "flash_#{t.to_s}"}
            - if false #t == :notice
              %a.close.abs.js{:href => 'javascript:;'} X
            = v