#instructions
  .c
    #formarea.left
      %h5 Instructions:
      %ol
        %li
          %p Find your imagery (or use 3fram.es to make an animated GIF).
        %li
          %p Upload your animated GIF to be resized: 
          %br
          = render 'photos/form', :photo => @photo

    - if !embed? && !@photos.blank?
      #latest_icons.right
        %h5 Latest Uploads
        #icons_grid.c
          - @photos.each do |photo|
            .left
              = image_tag photo.photo.url(:icon), :title => '', :alt => '', :class => 'photo'
        