.c
  #blurb_area{:class => (!embed? ? 'left' : '')}
    %h3 Ready to Create?
    %p Get excited to make your own animated Twitter icon&hellip;
    %p.more
      %a.button{:href => "#{new_photo_path}#{embed_params}"} Start Creating!

  - if !embed? && !@photos.blank?
    #latest_icons
      %h3
        Latest Uploads
        %a.button.grey{:href => gallery_photos_path} View All
      #icons_grid.c
        - @photos.each do |photo|
          .left
            %a{:href => "#{photo_path(photo)}#{embed_params}"}= image_tag photo.photo.url(:icon), :title => '', :alt => '', :class => 'photo'